Sentiment Analysis and Movie Recommendation/All_Beauty_5.json
Sentiment Analysis and Movie Recommendation/AMAZON_FASHION_5.json
Sentiment Analysis and Movie Recommendation/IMDB_top_1000.csv
Sentiment Analysis and Movie Recommendation/meta_All_Beauty.json
Sentiment Analysis and Movie Recommendation/meta_AMAZON_FASHION.json